$primary-new: #163714;
$secondary-new: #ff57ff;


$colourtheme-1: #13A80A;
$colourtheme-2: #0A6106;
$colourtheme-3: #19ED0E;
$colourtheme-4: #18E00D;
$colourtheme-5: #15C70C;



$colourtheme-comp-1: #cf00c1;
$colourtheme-comp-2: #83007a;
$colourtheme-comp-3: #f300e3;
$colourtheme-comp-4: #ED00DD;
$colourtheme-comp-5: #C700BA;


$colourtheme-1: $primary-new;
$colourtheme-2: $primary-new;
$colourtheme-3: $primary-new;
$colourtheme-4: $primary-new;
$colourtheme-5: $primary-new;

$colourtheme-comp-1: $secondary-new;
$colourtheme-comp-2:  $secondary-new;
$colourtheme-comp-3:  $secondary-new;
$colourtheme-comp-4:  $secondary-new;
$colourtheme-comp-5:  $secondary-new;
