
$colourtheme-1: #13A80A;
$colourtheme-2: #0A6106;
$colourtheme-3: #19ED0E;
$colourtheme-4: #18E00D;
$colourtheme-5: #15C70C;



$colourtheme-comp-1: #cf00c1;
$colourtheme-comp-2: #83007a;
$colourtheme-comp-3: #f300e3;
$colourtheme-comp-4: #ED00DD;
$colourtheme-comp-5: #C700BA;

