.uk-section {
    .uk-breadcrumb.breadcrumb-primary {
        color: $global-primary-background;
        & > * > * {
            color: $colourtheme-1;
            &:hover {
                color: rgba($colourtheme-1, 0.8);
            }
        }
        & > :nth-child(n+2):not(.uk-first-column)::before {
            color: rgba($colourtheme-1, 0.6);
        }
        & > :last-child > * {
            color: rgba($colourtheme-1, 0.6);
        }
    }
}
