
#main-navigation {
    .uk-offcanvas-bar {
        background-color: $colourtheme-1;
        a {
            color: #ffffff;
            opacity: 1;
            &:hover {
                color: rgba(#ffffff, 0.8);
            }
        }
    }
}
